/* 
   CSS Reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's width and height */
}

html,
body {
  height: 100%; /* Ensure root elements take full height */
  font-size: 100%; /* Set base font size for scaling */
  line-height: 1.5; /* Improve readability */
  background-color: rgb(39, 39, 39);
}

body {
  text-rendering: optimizeLegibility; /* Better text rendering */
  -webkit-font-smoothing: antialiased; /* Smooth fonts on Webkit browsers */
}

img,
picture,
video,
canvas {
  max-width: 100%; /* Make media responsive */
  display: block;
}

input,
button,
textarea,
select {
  font: inherit; /* Inherit fonts from the parent */
}

a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

ul,
ol {
  list-style: none; /* Remove default list styles */
}

#main-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(89, 89, 89);
  margin: 2rem auto; /* Centers the div horizontally */
  max-width: calc(100% - 4rem); /* Ensures 1rem margins on both sides */
  height: 100%;
  padding-bottom: 1rem;
}

#header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 20%;
  padding-top: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#logo {
  /* border: 1px solid black; */
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 2rem;
  display: inline-flex;
  margin: 1rem auto 0;
}
#big-letter {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-top: -1.2rem;
  margin-right: -0.4rem;
  padding: 1px 4px 0px 4px;
  border: 1px solid rgb(188, 188, 188);
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem auto 0;
  /* border-bottom: 1px dashed rgb(188, 188, 188); */
}

.menu-item {
  margin: 0 2rem;
}
/* mid-wrapper */
#mid-wrapper {
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
}

/* Content */

#content {
  height: 500px;
  width: 65%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px dashed rgb(188, 188, 188);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

#content > p {
  margin-top: 1rem;
}

/* Sidebar */
#sidebar {
  height: 500px;
  width: 20%;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 1rem;
  border: 1px dashed rgb(188, 188, 188);

  padding: 1rem;
}
.social-media h4 {
  text-align: left;
}
.social-media img {
  margin-top: 1rem;
  transform: rotate(-20deg);
}
.contact-widget {
  margin-top: 3rem;
}
.contact-info {
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

/* Footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100px;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
